<!DOCTYPE html>
<html ng-app='courseraApp'>
<head>
  <meta charset="UTF-8">
  <script src="./node_modules/angular/angular.min.js" charset="utf-8"></script>
  <script src="assets/js/app.js" charset="utf-8"></script>
  <title>Document</title>
</head>
<body>
  <div ng-controller="MyFristController">
    <form id="form_id" action="index.html" method="post">
      <h1></h1>
      <input type="text" name="meals" ng-model="meals">
      <input type="button" name="submit" value="Check if Too Much" ng-click="submit()">  
    </form>

  </div>
</body>

</html>
